<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Ignore_a</string>
		<key>items</key>
		<array>
			<string>Ignore-------1</string>
			<string>Ignore-------2</string>
			<string>Ignore-------3</string>
			<string>Ignore-------4</string>
			<string>Ignore-------5</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Ignore_b</string>
		<key>items</key>
		<array>
			<string>Ignore-------1</string>
			<string>Ignore-------2</string>
			<string>Ignore-------3</string>
			<string>Ignore-------4</string>
			<string>Ignore-------5</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Ignore_c</string>
		<key>items</key>
		<array>
			<string>Ignore-------1</string>
			<string>Ignore-------2</string>
			<string>Ignore-------3</string>
			<string>Ignore-------4</string>
			<string>Ignore-------5</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>A</string>
		<key>items</key>
		<array>
			<string>A------------1</string>
			<string>A------------2</string>
			<string>A------------3</string>
			<string>A------------4</string>
			<string>A------------5</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>B</string>
		<key>items</key>
		<array>
			<string>B------------1</string>
			<string>B------------2</string>
			<string>B------------3</string>
			<string>B------------4</string>
			<string>B------------5</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>C</string>
		<key>items</key>
		<array>
			<string>C------------1</string>
			<string>C------------2</string>
			<string>C------------3</string>
			<string>C------------4</string>
			<string>C------------5</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>D</string>
		<key>items</key>
		<array>
			<string>D------------1</string>
			<string>D------------2</string>
			<string>D------------3</string>
			<string>D------------4</string>
			<string>D------------5</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>E</string>
		<key>items</key>
		<array>
			<string>E------------1</string>
			<string>E------------2</string>
			<string>E------------3</string>
			<string>E------------4</string>
			<string>E------------5</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>F</string>
		<key>items</key>
		<array>
			<string>F------------1</string>
			<string>F------------2</string>
			<string>F------------3</string>
			<string>F------------4</string>
			<string>F------------5</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>G</string>
		<key>items</key>
		<array>
			<string>G------------1</string>
			<string>G------------2</string>
			<string>G------------3</string>
			<string>G------------4</string>
			<string>G------------5</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>H</string>
		<key>items</key>
		<array>
			<string>H------------1</string>
			<string>H------------2</string>
			<string>H------------3</string>
			<string>H------------4</string>
			<string>H------------5</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>I</string>
		<key>items</key>
		<array>
			<string>I------------1</string>
			<string>I------------2</string>
			<string>I------------3</string>
			<string>I------------4</string>
			<string>I------------5</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>J</string>
		<key>items</key>
		<array>
			<string>J------------1</string>
			<string>J------------2</string>
			<string>J------------3</string>
			<string>J------------4</string>
			<string>J------------5</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>K</string>
		<key>items</key>
		<array>
			<string>K------------1</string>
			<string>K------------2</string>
			<string>K------------3</string>
			<string>K------------4</string>
			<string>K------------5</string>
		</array>
	</dict>
</array>
</plist>
